.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(39, 39, 39, 0.863);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.popup-content {
    /* height: 63%; */
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 15px 0 15px;
}

.header {
    width: 100%;
    height: 45px;
    /* background: gray; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header label {
    font-size: 18px;
    font-weight: 600;
    color: rgb(49, 49, 49);
}

.header .el-icon-close {
    display: fixed;
    position: absolute;
    right: 13px;
    top: 233px;
    font-size: 20px;
}

.product {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0 10px;
}

.info img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    flex: 0 0 70px;
}

.info {
    display: flex;
    flex: 1;
    padding: 10px 0 10px;
    width: 100%;
}

.info-detail {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    padding: 0 15px 0 13px;
}

.info-detail label {
    color: #451717;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 3px;
}

.info-detail p {
    margin: 0;
    color: #696969;
    font-size: 12px;
    margin-bottom: 3px;
}

.info-detail span {
    color: #ff902a;
    font-size: 15px;
    font-weight: bold;
    width: 100%;
}

.action {
    padding-bottom: 10px;
    display: flex;
    align-items: end;
}

.action .icon {
    width: 15px;
    height: 15px;
    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
}

.action .el-icon-minus {
    border: solid 1px #FF902A;
    color: #FF902A;
}

.action .el-icon-plus {
    background: #FF902A;
    color: #FF902A;
    color: #fff;
}

.action span {
    padding: 0 12px 3px 12px;
}

.size {
    width: 100%;
    display: flex;
    margin-top: 15px;
}

.size-item {
    margin: 15px 0 35px 10px;
}

.size-item .el-radio__label {
    font-size: 16px;
    font-weight: 400;
}

.size-item .el-radio__inner {
    width: 16px;
    height: 16px;
}

.popup-001 hr {
    opacity: 40%;
    width: 100%;
}

.note {
    margin: 15px 0 50px;
    width: 100%;
}

.note .el-textarea__inner {
    height: 120px;
    font-size: 16px;
    font-weight: 300;
    font-family: "Sarabun", "Sans-serif";
}

.submit {
    height: 110px;
    width: 100%;
}

.submit .el-button {
    width: 100%;
    height: calc(100% - 60px);
    border-radius: 0px;
    background: #FF7A00;
    border: none;
    color: #fff;
    font-size: 17px;
    font-family: "Sarabun", "Sans-serif";
    font-weight: 300;
}

.submit .el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    background: #FF7A00;
    color: #fff;
}